.app-download{
  padding-inline: clamp(35px, 11.5vw, 100px);
  padding-block: clamp(15px, 4vw, 35px);
  align-items: center;
}

.app-download > .column {
  align-items: center;
}

.app-download > .column > h1{
  color: var(--color-primary);
}

.app-download > .column > h1:nth-child(3) {
  margin-top: clamp(30px, 5vw, 55px);
}
.app-download i{
  color: var(--color-primary);
}
.app-download__img {
  min-width: 200px;
}
@media (min-width:40em) {
  .app-download {
    padding: 0px;
    width: 65%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    align-self: center;
  }
}