.btn{
  height: clamp(37px, 5vw, 50px);
  border-radius: 7px;
  font-weight: bold; 
  font-size: clamp(7px, 3.5vw, 16px);
  
  display: flex; 
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.btn_outline{
  background-color: white;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.btn_filled{
  color: white;
  background-color: var(--color-primary);
}

.btn_dark{
  color: white;
  background-color: var(--color-secondary);
}
