<<<<<<< HEAD
.btn a:link a:visited {
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: bold; 
  text-align: center; 
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 5px;
}

.btn-outline {
  background-color: white;
  color: #00b14f;
  border: 1px solid #00b14f;
  border-radius: 7px;
  padding: 15px;
  text-align: center;
}

.btn-filled {
  padding: 15px 10px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #00b14f;
  border-radius: 7px;

  text-align: center;
}

.btn-dark {
  color: white;
  padding: 15px 10px;
  background-color: #212f3f;
  border-radius: 7px;
  text-align: center;
=======
.btn{
  border-radius: 7px;
  font-weight: bold; 
  font-size: clamp(7px, 3.5vw, 16px);
  
  display: flex; 
  align-items: center;
  justify-content: center;

  cursor: pointer;
  padding: clamp(7px, 2vw, 15px);
}

.btn_outline{
  background-color: white;
  color: var(--color_primary);
  border: 1px solid var(--color_primary);
}

.btn_filled{
  color: white;
  background-color: var(--color_primary);
}

.btn_dark{
  color: white;
  background-color: var(--color_secondary);
>>>>>>> v2
}
