.button {
       color: black;
       border-radius: 0.2rem;
       font-size: clamp(7px, 3.5vw, 16px);

       display: flex;
       align-items: center;
       justify-content: center;

       cursor: pointer;
       padding: clamp(7px, 2vw, 15px);

       border-style: none;
}

.button_outline {
       background-color: white;
       color: var(--color_primary);
       border: 1px solid var(--color_primary);
}

.button_filled {
       background-color: var(--color_primary);
       color: white;
}

.button_dark {
       background-color: var(--color_secondary);
       color: white;
}

.button_brand {
       background-color: white;
       cursor: pointer;

       border-style: none;
       border: 0rem;
}

.button_facebook {
       color: #0d6efd;
}

.button_google {
       color: #ea4335;
}
