.career__card__text {
  font-size: 7px;
}
.career > .column .column > p{
  display: none;
}

.career__icon {
  color: var(--color-primary)
}
.career__first-card > a{
  display: none;
}

.career__first-card > a:first-child {
  display: block;
}
