
.two-cards {
  width: 81vw;
  align-self: center;

  padding-block: 0px;
}

.two-cards label {
  font-size: 16px;
  padding:1px 5px; 
 display:inline; 
 background: #de4637;
 vertical-align: middle; 
 border-radius: 0.25em; 
 white-space:nowrap; 
 font-weight:normal; 
 color: white;
}

.two-cards .card {
  padding: clamp(7px, 4.5vw, 35px);

  display: grid;
  grid-template-columns: repeat(2, 1fr);


  align-items: center;
  justify-content: center;
  background: transparent linear-gradient(67deg,#e5fff1,#f5f2ff) 0 0 no-repeat padding-box;
  border-radius: 10px;
}

.two-cards .card:last-child a{
  font-size: clamp(7px, 3.5vw, 16px);
}

.two-cards__text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.two-cards__text > *:first-child{
 display:none;
}

.two-cards__text,.two-cards__img {
  grid-row: 1;
}

.single-card-btn {
  display: grid;
}

@media (min-width: 40em ) {
.two-cards {
  padding: 0px;
  width: 65%;
  align-self: center;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
.two-cards p {
  display: inline;
}

.two-cards-p-first {
  margin-right: 15%;
}

  .single-card-box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.single-card-text {
  display: flex;
  flex-direction: column;
  gap: 15px;

  z-index: 1;
}

.single-card-left {
  grid-column: 1 /span 3;
}
.single-card-img {
  grid-column: 3 / span 3;
}
.single-card-btn {
  display: flex;

}


}