  .two-cards{
    display: grid;
    gap: clamp(15px, 2.5vw, 35px);
    padding-inline: max(15px, 7vw);
  }

.two-cards label {
  font-size: 16px;
  padding:1px 5px; 
 display:inline; 
 background: #de4637;
 vertical-align: middle; 
 border-radius: 0.25em; 
 white-space:nowrap; 
 font-weight:normal; 
 color: white;
}

.two-cards > .row{
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  background: transparent linear-gradient(67deg,#e5fff1,#f5f2ff) 0 0 no-repeat padding-box;
  border-radius: 10px;
}

.two-cards > .container-inline{
    padding-right: 0px;
}

.two-cards__content > .column {
  display: none;
}

@media (min-width: 700px ) {
  .two-cards__content > .column{
    display: flex;
  }

  .two-cards > .row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    gap: 0px;
  }

  .two-cards__content {
    grid-column: 1 / span 3;
    z-index: 1;
  }

  .two-cards__img {
    grid-column: 4 / span 2;
  }

  .two-cards__content .btn {
    align-self: flex-start;
    padding: clamp(7px, 2.5vw, 15px);
  }
}

@media (min-width: 1000px) {
  .two-cards{
    width: 65vw;
    align-self: center;

    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
    padding-inline: 0px;

    
  }

  .two-cards > .container-inline{
    padding-right: 0px;
    padding-block: clamp(15px, 4vw, 25px);
  }
}