.dropdown {
                     max-height: 0rem;
                     overflow: hidden;
}

.dropdown:hover {
                     background-color: blue;
}
.show {
                     display: block;
}