.input-text_overlap {
      display: grid;
      grid-template-columns: min(15%, 2.5rem) repeat(1, 1fr) min(15%, 2.5rem);

      align-items: center;
}

.input-text_overlap_left {
      grid-column: 1;
}

.input-text_overlap_right {
      grid-column: 3;
}

.input-text_overlap_left
, .input-text_overlap_right {
      z-index: 1;
}

.input-text_overlap_content {
      grid-column: 1 / span 3;
}

.input-text_overlap_left
, .input-text_overlap_content
, .input-text_overlap_right {
      grid-row: 1;
}