.jobs {
<<<<<<< HEAD
  background: #edfff5;
  display: grid;
  grid-template-columns: 35px repeat(5, 1fr) 35px;
}

.jobs-box {
  grid-column: 2 /span 5;
  display:flex;
  flex-direction: column;
  gap: 1rem;
  margin: 15px 0px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: -1px 1px 4px rgba(0,0,0,0.1);
  background-color: white;
}

.jobs-heading {
  display: grid;
  gap: 1rem;
}

.jobs-heading-second-child {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.jobs-heading-second-child h1 {
  font-size: 18px;
}

.jobs-heading-second-child p {
  color: #00b14f;
}

.jobs-list {
  display: grid;
  gap: 10px;
}

.jobs-list-left, .jobs-list-right {
  height: 70%;
  width: 66%;
  align-self: flex-end;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #00b14f;
}



.jobs-list-left{
  grid-column: 1 / span 2 ;
  z-index: 1;
}

.jobs-list-right {
  grid-column: 6 / span 2;
  justify-self: flex-end;
}

.jobs > * {
  grid-row: 1;
}

.location-cards {
  display: flex;
  gap: 10px;
  overflow: hidden;
}

.location-cards > *{
  display: flex;
  justify-content: center;
  align-items: center;
}


.location-cards p{
  padding: 10px;
  font-size: 14px;
  color: #999;
  border: 1px solid #eee;
  background-color: #f4f4f4;
  border-radius: 20px;
}

.location-cards div:first-child p{
  color: white;
  background-color: #00b14f;
  border: none; }

.location-cards div:last-child {
  display: none;
}
.location-cards p:hover {
 color: white;
  background-color: #00b14f;
  border: none; 
}


.jobs-list > div {   
   box-shadow: -1px 1px 4px rgba(0,0,0,0.3);
   padding: 15px;
  border-radius: 5px;
}

.single-job {
  display:flex;
  flex-direction: column;
  gap: 1rem;
}

.job-title {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.job-title-left {
  display: flex;
  gap: 1rem;
  justify-content:flex-start;
}

.job-title-left-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.job-title-left-text * {
  font-size: 14px;
}

.job-follow {
  color: lightgray;
=======
  background: var(--color_primary_light);
}

.jobs-box {

  border-radius: 15px;
  background-color: white;
}

.jobs-box__second-heading {
  display: flex;
  flex-direction: column;
  gap: clamp(15px, 2.5vw, 35px);
}

.column .txt-tag{
  width: fit-content;
}

.jobs-box__content__tag {
  color: var(--color_primary);
}

.jobs-box__locations > *:last-child {
  display: none;
}

.single-job__details {
  flex-wrap: wrap;
}

.job-follow {
  color: var(--color_neutral);
  margin-left: auto;
  align-self: flex-start;

>>>>>>> v2
}

.job-follow > * {
  padding: 5px;
  border-radius: 5px;
  box-shadow: -1px 1px 4px rgba(0,0,0,0.3);
}

<<<<<<< HEAD
.job-details {
 display: flex;
  gap: 1rem;
  
}

.job-details > div {
  font-size: 12px;
  padding: 5px;
  color: #999;
  border: 1px solid #eee;
  background-color: #f4f4f4;
  border-radius: 18px;
}

@media (min-width: 40em) {
  .jobs {
    padding: 0px;

    grid-template-columns: 17.5% repeat(5, 1fr) 17.5%;
  }
  
  .jobs-box {
    grid-column: 2 / span 5;
    
    display:flex;
    flex-direction: column;
    gap: 1rem;
    margin: 15px 0px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: -1px 1px 4px rgba(0,0,0,0.1);
    background-color: white;
  }
  .jobs-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  
  .jobs-list-left{
    grid-column: 1 / span 2;
    z-index: 2;
    width: 63%;
    justify-self: start;

    justify-content: flex-end;
  }

  .jobs-list-right{
    grid-column: 6 / span 2;
    
    width: 63%;
    justify-self: end;

    justify-content: flex-start;
  }

  .jobs-list-right, .jobs-list-left {
    height: 50%;
  }
  .jobs-list-left, .jobs-list-right, .jobs-list {
    grid-row: 1;
  }
.jobs-heading-second-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-size: 14px;
}

.location-cards p{
  font-size: 14px;
  padding: 10px;
}

.location-cards > div:last-child{
  display: flex;
  justify-content: center;
  align-items: center;
}
=======
@media (min-width: 800px) {
  .jobs-box__second-heading {
    flex-direction: row;
    justify-content: space-between;
  }
  .jobs-box > .column:last-child {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .jobs-box__jobs-list > *:last-child {
    display: none;
  }
}

@media (min-width: 1400px) {
    .jobs-box > .column:last-child {
      grid-template-columns: repeat(3, 1fr);
    }

    .jobs-box__jobs-list > *:last-child {
      display: flex;
    }
>>>>>>> v2
}

