.jobs {
  background: #edfff5;
}

.jobs-box {

  border-radius: 15px;
  box-shadow: -1px 1px 4px rgba(0,0,0,0.1);
  background-color: white;
}

.jobs-box__second-heading {
  display: flex;
  flex-direction: column;
  gap: clamp(15px, 2.5vw, 35px);
}

.column .txt-tag{
  width: fit-content;
}

.jobs-box__content__tag {
  color: var(--color-primary);
}

.jobs-box__jobs-list > * {
  border-radius: 10px;
  box-shadow: -1px 1px 4px rgba(0,0,0,0.3);
}

.location-cards {
  display: flex;
  gap: 10px;
}

.location-cards > *{
  display: flex;
  justify-content: center;
  align-items: center;
}


.location-cards p{
  padding: 10px;
  font-size: 14px;
  color: #999;
  border: 1px solid #eee;
  background-color: #f4f4f4;
  border-radius: 20px;
}

.location-cards div:first-child p{
  color: white;
  background-color: #00b14f;
  border: none; }

.location-cards div:last-child {
  display: none;
}
.location-cards p:hover {
 color: white;
  background-color: #00b14f;
  border: none; 
}


.jobs-list > div {   
   box-shadow: -1px 1px 4px rgba(0,0,0,0.3);
   padding: 15px;
  border-radius: 5px;
}

.single-job {
  display:flex;
  flex-direction: column;
  gap: 1rem;
}

.job-title {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.job-title-left {
  display: flex;
  gap: 1rem;
  justify-content:flex-start;
}

.job-title-left-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.job-title-left-text * {
  font-size: 14px;
}

.job-follow {
  color: lightgray;
}

.job-follow > * {
  padding: 5px;
  border-radius: 5px;
  box-shadow: -1px 1px 4px rgba(0,0,0,0.3);
}

.job-details {
 display: flex;
  gap: clamp(7px, 2.5vw, 15px);
  flex-wrap: wrap;
  
}

.job-details > div {
  font-size: 12px;
  padding: 5px;
  color: #999;
  border: 1px solid #eee;
  background-color: #f4f4f4;
  border-radius: 18px;
}

@media (min-width: 700px ) {
  .jobs-box__second-heading {
    flex-direction: row;
    justify-content: space-between;
  }
  
  .jobs-box > .column:last-child {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .jobs-box__jobs-list > *:last-child{
    display: none;
  }
}

@media (min-width: 1000px) {
  .jobs {
    grid-template-columns: 17.5vw repeat(4, 1fr) 17.5vw;
  }
  .jobs-box > .column:last-child {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .jobs-box__jobs-list > *:last-child {
    display: flex;
  }
}

