:root {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  --color_primary: #00b14f;
  --color_primary_light: #e5fff1;
  --color_secondary: #212f3f;
  --color_neutral_light: hsla(135, 4%, 78%, 0.905);
  --color_neutral: #999;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  font-family: arial;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: clamp(0.7rem, 2.5vw, 1.5rem);
  font-weight: normal;;
}

a,
p {
  font-size: clamp(10px, 2vw, 14px);
}

button {
  border: none;
  padding: 0rem;

  background-color: transparent;
}
.padding_inline_large {
  padding-inline: max(1rem, 12.5vw);
}

.padding_block_large {
  padding-block: max(0.7rem, 10vw);
}

.padding_inline {
  padding-inline: clamp(7px, 4vw, 15px);
}

.padding_block {
  padding-block: clamp(7px, 4vw, 15px);
}

.column {
  display: flex;
  flex-direction: column;
  gap: clamp(1rem, 2vw, 15px);
}

.row {
  display: flex;
  gap: clamp(10px, 2vw, 15px);
}

.align-items_center {
  align-items: center;
}

.justify-content_center {
  justify-content: center;
}

.justify-content_space-between {
  justify-content: space-between;
}

.card {
  border-radius: 10px;
  box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.3);
}

.text_font-weight_bold {
  font-weight: bold;
}

.color_primary {
  color: var(--color_primary);
}

.color_neutral {
  color: var(--color_neutral);
}

.color_secondary {
  color: var(--color_secondary);
}

.color_neutral_light {
  color: var(--color_neutral_light);
}

.tag {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px 15px;
  border-radius: 18px;
}

}

.tag_primary {
  background-color: var(--color_primary);
  color: white;
}

.tag_primary_light {
  background-color: var(--color_primary_light);
  color: var(--color_primary);
}
.overlap {
  display: grid;
  grid-template-columns: max(15px, 7vw) repeat(4, 1fr) max(15px, 7vw);
}

.overlap_content {
  grid-column: 2 / span 4;
}

.overlap_left {
  grid-column: 1 / span 2;

  justify-content: flex-end;
}

.overlap_right {
  grid-column: 5 / span 2;
  justify-self: flex-end;
}

.overlap_left,
.overlap_right {
  height: 80%;
  width: 40%;
  align-self: flex-end;

  display: flex;
  align-items: center;

  color: var(--color_primary);

  z-index: 1;
}

.overlap_content,
.overlap_left,
.overlap_right {
  grid-row: 1;
}

@media (min-width: 700px) {
  .overlap {
    grid-template-columns: 17.5vw repeat(4, 1fr) 17.5vw;
  }

  .overlap_left,
  .overlap_right {
    height: 77%;
    width: 20vw;
  }
}

@media (min-width: 1000px) {
  .overlap {
    grid-template-columns: 1fr repeat(4, min(250px, 16.25vw)) 1fr;
  }
  .overlap_left,
  .overlap_right {
    width: max(calc(17.5vw + 15px), calc(50vw - 488px));
  }
}
