.nav-bar {
  justify-content: space-between;
  padding-block: 15px;
}

.navbar__top-row {
  justify-content: space-between;
}

.navbar__bottom-row {
}

.nav-bar__img {
  width: clamp(75px, 13vw, 100px);
}

.navbar__user-icon i {
  font-size: clamp(16px, 7vw, 28px);
  color: var(--color_primary);

  display: flex;
  align-items: center;
  justify-content: center;
}

 
.navbar-buttons__top-row a:visited {
  color: var(--color_secondary);
}

@media (min-width: 700px) {
  .nav-bar {
    padding-inline: 7vw;
  }
}

@media (min-width: 1000px) {
  .nav-bar__icon {
    margin-left: auto;
  }

  .nav-bar__btn {
    display: flex;
    box-shadow: none;
  }

  .navbar-buttons__top-row a {
    font-weight: bold;
  }

  .nav-bar__btn__right {
    display: none;
  }

  .navbar-buttons__top-row {
    gap: 25px;
    box-shadow: none;
  }

  .navbar-buttons__top-row>.row {
    padding: 13px;
  }
}

@media (min-width: 2100px) {
  .nav-bar {
    padding-inline: 17.5vw;
  }
}
