.nav-bar {
  box-shadow: none;
  justify-content: space-between;
  padding-block: 15px;
}

.nav-bar__bottom-row {
  display: none;
}

.nav-bar__top-row {
  box-shadow: none;

  min-height: 55px;
  width: 100%;

  display: flex;
  justify-content: space-between;

}

.nav-bar__img {
  width: clamp(75px, 13vw, 100px);
}

.nav-bar__icon  i {
  font-size: clamp(16px, 7vw, 28px);
  color: var(--color-primary);

  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar__btn{
  display: none;
}

@media (min-width: 1000px) {
  .nav-bar {
    padding-inline: min(7vw, 35px);
    justify-content: unset;
    gap: 15px;
  }
  
  .nav-bar__icon {
    margin-left: auto;
  }
  .nav-bar__btn {
    display: flex;
    box-shadow: none;
  }

  .nav-bar__btn__left {
    gap: 25px;
    box-shadow: none;
  }
  .nav-bar__btn__left > .row {
    padding: 13px;
  }

  .nav-bar__btn__left > a:visited{
    color: black;
  }
  .nav-bar__btn__left > a:hover{
    color: black;
  }
  .nav-bar__bth__left > a:link{
    color: black;
  }

  .nav-bar__btn__right {
    display: none;
  }
}

