/* block-name__elem-name_mod-name_mod-val */

.nav-bar-box{
  min-height: 7vh;
  padding-left: 9vw;

  display:grid;
}

.nav-bar__icon {
  width: 100%;

  display: grid;
  grid-template-columns: 25% 25%;
  justify-content: space-between;

}

.nav-bar__icon > * {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px dashed orange;
}

.nav-bar__icon i {
  font-size: max(15px, 1.5rem);
  color: var(--color-primary);
}

.nav-bar__btn{
  display: none;
}

.nav-bar-left > * {
  padding: 15px;
  border-radius: 5px;
  box-shadow: -1px 1px 4px rgba(0,0,0,0.1);
}

@media screen and (min-width: 40em) {
  
}
