.search-box {
  background-image: url("../images/linear_web.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.search-bar > *:last-child {
  display: none;
}

#top-companies {
  font-family: arial;
  font-size: 16px;
  text-align: left;
}



.search-bar-left {
  margin: 35px;
  display:flex;
  flex-direction: column;

  gap: 15px;
  justify-content: space-evenly
} 

.img-companies   {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  margin: 0px 15px;
  height: 64px;
}

.img-companies img{
  max-height: 30px;
  max-width: 58px;
}

.search-bar-left h1{
  font-size: 24px;
  text-align: center;
}

.search-bar-btn p {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 7px;
  flex-grow: 2;
}

.search-bar-left-input {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 20px;
  font-size: 14px;
  border-radius: 5px;
  background-color: rgba(220,220,220,0.3);
}

.search-bar-left-input-bar{
  width: 55%;
  display: grid;
  gap: 5px;
  grid-template-columns: 30px repeat(4, 1fr);
  flex-grow: 2;
  align-items: center;
  justify-content: center;
}

.magnifying-glass {
  display: flex;
  grid-column: 1 ;
  color: rgba(113,113,113,0.7);
  z-index: 1;
  justify-content: center;
}

.search-bar-input-bar {
  grid-column: 1 /span 5;
}

.search-bar-input-bar, .magnifying-glass {
  grid-row: 1 / span 2;
}

input[type=text]{
  justify-items: center;
  padding-left: 30px;
  text-align: left;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  height: 45px;
}

input:hover {
  border: 1px solid #00b14f;
}

@media ( min-width: 40em) {
  .search-box {
    display: flex;
    
    justify-content: center;
    background-image: url("linear_web.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

  }
  .search-bar{
    width: 65%;
    display: grid;
    gap: 2px;
    grid-template-columns: 65% auto;
  } 

  .search-bar  > *:last-child {
    display: block;
  }

  #page-welcome {
    background-color: white;
    background-image: url("linear_web.png");
    background-repeat: no-repeat;
    background-size: 99% 100%;
  }

  .search-bar-left-input p {
    font-size: 13px;
    vertical-align: middle;
    flex-grow: 2;
  }

  .search-bar-left h1{
    font-size: 32px;
    text-align: left;
  }
}
