.search-box-bg {
  background-image: url("../images/linear_web.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  display: flex;
  justify-content: center;
   
  padding-top: clamp(15px, 2.5vw, 35px); 
  padding-bottom: clamp(15px, 2.5vw, 35px); 
}

.search-box {
  width: 82vw;
}

.search-box > *:last-child {
  display: none;
}

.search-bar{
  height: clamp(37px, 3vw, 57px); 

  display: grid;
  gap: max(15px, 2.5vw);
  grid-template-columns: 55% 1fr;
  align-items: stretch;
}

.search-bar > *:last-child{
  display: none;
}

.content__imgs{
  display: flex;
  align-items: center;
  gap: 30px;
}

.content__imgs img{
  max-height: 30px;
}

.search-bar__input {
  display: grid;
  grid-template-columns: 15% 1fr;
}

.input__input {
  grid-column: 1 / span 2;

  display: flex;
}

.input__mag-glass {
  z-index: 1; grid-column: 1 ;

  display: flex;
  justify-content: center;
  align-items: center;

  color: rgba(113,113,113,0.7);
}

.input__input, .input__mag-glass {
  grid-row: 1;
}

input[type=text]{
  padding-left: 15%;
  text-align: left;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
}

text:hover {
  border: 1px solid #00b14f;
}

@media ( min-width: 40em) {

}
