.search-box {
  background-image: url("../images/linear_web.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.search-bar- > *:last-child {
  display: none;
}

.search-bar-left {
  margin: 35px;
  display:flex;
  flex-direction: column;

  gap: 15px;
  justify-content: space-evenly
} 

.img-companies   {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  margin: 0px 15px;
  height: 64px;
}

.img-companies img{
  max-height: 30px;
  max-width: 58px;
}

.search-bar-left h1{
  font-size: 24px;
  text-align: center;
}

.search-bar_big-btn {
  display:none;
}

.input-box{
  width: 95%;
  height: 15%; 

  align-self: center;

  display: grid;
  gap: 5vw;
  grid-template-columns: 55% 1fr;
  align-items: stretch;
  justify-content: space-between;
}

.input-box__input {
  display: grid;
  grid-template-columns: 15% 1fr;
}

.input__input {
  grid-column: 1 / span 2;

  display: flex;
  justify-content: center;
  align-items: stretch;
}

.input__mag-glass {
  z-index: 1; grid-column: 1 ;

  display: flex;
  color: rgba(113,113,113,0.7);
  justify-content: center;
  align-items: center;
}

.input__input, .input__mag-glass {
  grid-row: 1;
}

input[type=text]{
  padding-left: 15%;
  text-align: left;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  min-height: 45px;
}

text:hover {
  border: 1px solid #00b14f;
}

@media ( min-width: 40em) {
  .search-box {
    display: flex;
    
    justify-content: center;
  }
  .search-bar{
    width: 65%;
    display: grid;
    gap: 2px;
    grid-template-columns: 65% auto;
  } 

  .search-bar  > *:last-child {
    display: block;
  }

  #page-welcome {
    background-color: white;
    background-image: url("linear_web.png");
    background-repeat: no-repeat;
    background-size: 99% 100%;
  }

  .search-bar-left-input p {
    font-size: 13px;
    vertical-align: middle;
    flex-grow: 2;
  }

  .search-bar-left h1{
    font-size: 32px;
    text-align: left;
  }
}
