.top-occupations__list > .row > *:first-child {
  color: var(--color-primary);
}

.top-occupations__list {
  display: grid;
  gap: clamp(7px, 2.5vw, 15px);
}

.top-occupations__list .row {
  background-color: var(--color-primary-light);
  color: var(--color-secondary);

}

@media (min-width: 700px) {
  .top-occupations__list {
      grid-template-columns: 1fr 1fr;
  }

  .top-occupations__list > .row:last-child{
    display: none;
  }
}

@media (min-width: 1000px) {
  .top-occupations__list >.row:last-child {
    display: flex;
  }

  .top-occupations__list {
    grid-template-columns: repeat(3, 1fr);
  }

}