.top-occupations {
	display: grid;
  grid-template-columns: max(35px, 12vw) repeat(7, 1fr) max(35px, 12vw);
}

.top-occupations .column{
  padding-inline: 0px;
}
.top-occupations__content{
  grid-column: 2 / span 7;
}

.top-occupations__content .row {
  padding: clamp(25px, 4vw, 35px);
  background-color: var(--color-primary-light);
  color: var(--color-secondary)
}

.top-occupations__content .row > *:first-child {
  color: var(--color-primary);
}
.top-occupations-content > *:last-child {
  display: none;
}
.top-occupations__arrow-left {
  grid-column: 1 / span 2;
}

.top-occupations__arrow-right {
  grid-column: 8 / span 2;
}

.top-occupations__arrow-left, .top-occupations__arrow-right {
  height: 90%;
  width: 100%;
  align-self: end;
  justify-self: center;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #00b14f;

  z-index: 1;
}

.top-occupations__arrow-left, .top-occupations__arrow-right, .top-occupations__content{
  grid-row: 1;
}

@media (min-width: 40em) {
   
}