.about-us-box {
  display: flex;
  justify-content: center;
  background-color: #deffe2;
}
.about-us {
  width: 65%;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  margin: 15px;
  margin-bottom: 45px;
}

.about-us > * {
  font-size: 16px;
  color: #00b14f;
}

.about-us p {
  font-size: 13px;
  color: black;
}
.about-us-text-box{
  width: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  padding: 15px;
  background-color: white;
  border-radius: 15px;

  color: black;
}

.about-us-text-box > * {
  display: flex;
  flex-direction: column;
  gap: 15px;

  color: #3d6089;

  
}