.basic-flex {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.basic-flex > * {
  width: 65%;
}

.basic-flex > *:first-child{
  width: 100%;
  display: grid;
  grid-template-columns: 65%;
  justify-content: center;
  background-color: white;
  background-image: url("linear_web.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}




