.career {
  width: 65%;
  align-self: center;
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.career-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

}
.career-cards > div {
  display: grid;
  grid-template-columns: 15% auto;
  gap: 1rem;
  box-shadow: -1px 1px 7px rgb(0 0 0 / 10%);
  padding: 15px;
  border-radius: 15px;
}
.career-single-card-icon {
  display: grid;
  align-items: center;
  justify-content: center;
}

.career-single-card-icon > * {
  color:#00b14f;
}

.career-single-card-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.career-card-tags {
  display: flex;
  gap: 5px;
}

.career-single-card-content  h2{
  color: #212f3f;
  font-size: 15px;
  font-weight:700px;
}

.career-single-card-content  p {
  color: #999;
  font-size: 13px;
}

.career-card-tags > a{
  padding: 6px 20px;
  background-color: #e9f7ef;
  color: #00b14f;
  border-radius: 5px;
  font-size: 13px;
}

.career-card-tags > *:hover{
  background-color: #c0eed4;
}