.jobs {
  background: #edfff5;
  display: grid;
  grid-template-columns: auto repeat(3, 21.67%) auto;
}

.jobs-box {
  grid-column: 2 /span 3;
  display:flex;
  flex-direction: column;
  gap: 1rem;
  margin: 15px 0px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: -1px 1px 4px rgba(0,0,0,0.1);
  background-color: white;
}

.jobs-heading {
  display: grid;
  gap: 1rem;
}

.jobs-heading-second-child {
  display: flex;
  justify-content: space-between;
}

.jobs-heading-second-child p {
  color: #00b14f;
}

.jobs-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.jobs-list-left, .jobs-list-right {
  align-self: center;
  justify-self: center;
  margin-top: 23%;
}

.jobs-list-left{
  grid-column: 1 / span 2;
  z-index: 2;
  padding-right: 10%;
}

.jobs-list-right {
  grid-column: 4 / span 2;
  padding-left: 10%;
}

.jobs > * {
  grid-row: 1;
}

.jobs-list-left, .jobs-list-right > *{
  color: #00b14f;
}
.location-cards {
  display: flex;
  gap: 10px;
}

.location-cards p{
  font-size: 14px;
  padding: 10px 15px;
  color: #999;
  border: 1px solid #eee;
  background-color: #f4f4f4;
  border-radius: 20px;
}

.location-cards div:first-child p{
  color: white;
  background-color: #00b14f;
  border: none;
    
}

.location-cards p:hover {
 color: white;
  background-color: #00b14f;
  border: none; 
}


.jobs-list > div {   
   box-shadow: -1px 1px 4px rgba(0,0,0,0.3);
   padding: 15px;
  border-radius: 5px;
}

.single-job {
  display:flex;
  flex-direction: column;
  gap: 1rem;
}

.job-title {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.job-title-left {
  display: flex;
  gap: 1rem;
  justify-content:flex-start;
}

.job-title-left-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.job-title-left-text * {
  font-size: 14px;
}

.job-follow {
  color: lightgray;
}

.job-follow > * {
  padding: 5px;
  border-radius: 5px;
  box-shadow: -1px 1px 4px rgba(0,0,0,0.3);
}

.job-details {
 display: flex;
  gap: 1rem;
  
}

.job-details > div {
  font-size: 12px;
  padding: 5px;
  color: #999;
  border: 1px solid #eee;
  background-color: #f4f4f4;
  border-radius: 18px;
}
