.jobs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.jobs-heading {
  width: 65%;
  display: grid;
  gap: 1rem;
}

.jobs-list {
  width: 100%;
  display: grid;
  grid-template-columns: auto repeat(3, 21.67%) auto;
  gap: 1px;
  align-items: stretch;
}

.jobs-list-left{
  display:flex;
  align-items: center;
  justify-content: center;
  grid-column: 1 / span 2;
  margin-right: 60px;
  z-index: 2;
}

.jobs-list-right {
  display:flex;
  align-items: center;
  justify-content: center;
  grid-column: 4 / span 2;
  margin-left: 60px;
}

 .grid-jobs, .jobs-list-left, .jobs-list-right {
  grid-row: 1 ;
}

.jobs-list-right > div{
 color: #00b14f;
}

.jobs-list-left > div{
 color: #00b14f;
}
.location-cards {
  display: flex;
  gap: 1rem;
}

.location-cards p{
  display: inline-block;
  padding: 10px 15px;
  color: #999;
  border: 1px solid #eee;
  background-color: #f4f4f4;
  border-radius: 20px;
}

.location-cards div:first-child p{
  color: white;
  background-color: #00b14f;
  border: none;
    
}

.location-cards p:hover {
 color: white;
  background-color: #00b14f;
  border: none; 
}

.grid-jobs {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: white;
  grid-column: 2 / span 3;
}

.grid-jobs > div {   
   box-shadow: -1px 1px 4px rgba(0,0,0,0.3);
   padding: 15px;
  border-radius: 5px;
}

.single-job {
  display:flex;
  flex-direction: column;
  gap: 1rem;
}

.single-job-title {
  display: grid;
  grid-template-columns: 80% 10%;
  gap: 1rem;
  justify-content: space-between;
}

.single-job-title-left {
  display: flex;
  gap: 1rem;
}

.single-job-title-left > * {
  justify-content:flex-start;
}

.single-job-details {
 display: flex;
  gap: 1rem;
  
}

.single-job-details > div {
  padding: 10px;
  color: #999;
  border: 1px solid #eee;
  background-color: #f4f4f4;
  border-radius: 18px;
}
